html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%;
}

.App {
  font-family: "Lato", sans-serif;
  max-width: 75rem;
  margin: auto;
  height: 100%;
}


.App-header {
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  height: 1px;
  width: 100%;
  margin: auto;
}

.App-nav {
  border-bottom: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-link {
  font-family: "Shapes" bold;
  margin: 10px;
  float: left;
  display: inline-flex;
  display: block;
  color: rgb(255, 255, 255);
  padding: 20px 20px;
  overflow: hidden;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
}

.App-link:hover {
  background-color: #111;
}

.App-main {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #000;
}

.sidebar {
  width: 25%;
  min-width: 180px;
  background-color: #deded8;
  height: 100%;
  display: block;
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.form {
  margin: 10px 10px auto;
  min-width: 50%;
  padding: 10px;
  height: 100%;
}

.labelText {
  display: inline-block;
  width: 150px;
  text-align: left;
}

@media screen and (max-width: 400px) {
  .App {
    height: auto;
  }

  .App-main {
    height: auto;
  }

  .sidebar {
    min-width: 100%;
    height: auto;
  }

  .registration {
    min-width: 90%;
    font-size: smaller;
    height: auto;
  }

  .about-drop-down {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(49, 167, 49);
    border-radius: 10px;
  }

  #about-button {
    display: flex;
    justify-content: center;
    width: 75px;
  }
}

.divider {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.badge {
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 10px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  width: fit-content;
}

.badge:hover {
  transform: scale(1.1);
  background-color: #0d76a8; 
}

.badge-multi-select {
  background: linear-gradient(45deg, rgb(68, 70, 71) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding: 10px 30px;
  width: 50%;
  border-radius: 20px;
  margin: 5px auto;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.edit-button {
  background-color: inherit;
  color: #000000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.edit-button:hover {
  transform: scale(1.1);
}

.primary-button {
  background: linear-gradient(to top, #00154c, #12376e, #23487f);
  color: #ffffff;
  padding: 10px 10px;
  border: none;
  border: 2px solid #00154c;
  border-radius: 20px;
  cursor: pointer;
}

.secondary-button {
  background-color: inherit;
  color: rgb(16, 137, 211);
  padding: 10px 10px;
  border: 2px solid rgb(16, 137, 211);
  border-radius: 20px;
  cursor: pointer;
}